__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.db
*.log
*.sqlite3

.git/
.gitignore
.ipynb_checkpoints/
.vscode/
.env
.venv/
.env/
*.gguf
*.ckpt
*.safetensors
models/
huggingface/
.cache/
